{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Future Study leave service - NHS England
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
  .nhsuk-summary-list{margin-bottom: 10px !important;}
</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
       <span class="nhsuk-caption-l">Claim expenses</span>
   <h1 class="nhsuk-heading-l">Study leave application expenses</h1>
   
     <p class="nhsuk-hint">You’ve already claimed the approved expenses for this application. You can still add any expenses incurred during the course. However, if you cannot provide valid reasons for these additional expenses, they may be rejected</p>
   


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     View previously claimed expenses (£1405)
    </span>
  </summary>
  <div class="nhsuk-details__text">
   

   <h2 class="nhsuk-heading-s">Course</h2> 

{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Expense type"
      },
      value: {
        text: "Course fee"
      },
      actions: {
       
      }
    }, 
    {
      key: {
        text: "Cost"
      },
      value: {
        text: "£999"
      },
      actions: {
       
      }
    },
    {
      key: {
        text: "Uploaded receipts"
      },
      value: {
        html: '<a href="../images/example.pdf" target="_blank" rel="noopener">filename.pdf (opens in a new tab)</a>'
      },
      actions: {
        
      }
    }
  ]
}) }}




   
   <h2 class="nhsuk-heading-s">Travel</h2> 

{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Travel type"
      },
      value: {
        text: "Train"
      },
      actions: {
        
      }
    }, 
    {
      key: {
        text: "Cost"
      },
      value: {
        text: "£93"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Uploaded receipts"
      },
      value: {
        html: '<a href="../images/example.pdf" target="_blank" rel="noopener">filename.pdf (opens in a new tab)</a>'
      },
      actions: {
        
      }
    }
  ]
}) }}


   <h2 class="nhsuk-heading-s">Accommodation</h2> 

{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Number of nights"
      },
      value: {
        text: "2"
      },
      actions: {
        
      }
    }, 
    {
      key: {
        text: "Cost"
      },
      value: {
        text: "£313"
      },
      actions: {
       
      }
    },
    {
      key: {
        text: "Uploaded receipts"
      },
      value: {
        html: '<a href="../images/example.pdf" target="_blank" rel="noopener">filename.pdf (opens in a new tab)</a>'
      },
      actions: {
        
      }
    }
  ]
}) }}




  </div>
</details>













<style>
 .expense-added .nhsuk-table__panel-with-heading-tab{margin-bottom: 20px !important;margin-top: 20px !important;}
   .expense-added caption{margin-top: 24px !important;}
    .expense-added th, td{font-size: 17px !important;}
</style>

<div class="expense-added" id="expenses">
{{ table({
  responsive: true,
   caption: "Additional expenses information",
  panel: true,
  firstCellIsHeader: false,
  head: [
    { text: "Expense" },
    { text: "Type", format: "text" },
    { text: "Cost", format: "numeric" },
    { text: "Action", format: "text" }
   
  ],
  rows: [
    [
      { html: 'Travel' },
      { text: "Bus"},
      { text: "£10", format: "numeric" },
       { html: '<a href="#" class="">Edit</a>' }
    ],
    [
      { html: '<b>Total</b>' },
      { text: ""},
       { html: '<b>£10</b>', format: "numeric"  },
       { text: ""}
    ]
  ]
}) }}
</div>
<!--
<span style="margin: 0px 0px 20px 0px;display: block;font-size: 22px;" class="">Total expenses being claimed: <strong>£10</strong></span>
-->
<p>
<a href="#">Add another expense</a>
</p>

   
 

<div class="">
    {{ textarea({
      name: "supportingInfo",
      id: "supportingInfo",
      label: {
        text: "Supporting information (optional)",
        classes: "nhsuk-label--s"
      },
      hint: {
        text: "Provide any information that could help support your expenses claim"
      }
    }) }}

</div>


</div>
</div>








<div class="nhsuk-button-group">
  {{ button({
    text: "Save and continue",
    classes: "nhsuk-button--green",
    href: "bank-details-added"  
  }) }}

  {{ button({
    text: "Cancel",
    classes: "nhsuk-button--secondary",
    href: "dashboard-claimed" 
  }) }}
</div>




 {% endblock %}