{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Future Study leave service - NHS England
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Claim expenses</span>
   <h1 class="nhsuk-heading-l">Study leave application summary</h1>
   

   <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
      This study leave application has been approved
    </h2>
  </div>
  <div class="nhsuk-notification-banner__content">
    
    <p>You can now claim back your expenses.</p>
      <a href="claim-add-your-expenses" class="nhsuk-button">Claim expenses</a>
      
  </div>
</div>
   

    <p><a href="">Download a copy of this study leave application (PDF) </a></p>
    <h2 class="nhsuk-heading-s">Course/event details</h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Study type "
      },
      value: {
        text: "Mandatory"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Study activity"
      },
      value: {
        text: "Course"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Course/event name "
      },
      value: {
        text: "Advanced Trauma Life Support (ATLS)"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider "
      },
      value: {
         text: "RCS (Royal College of Surgeons)	"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Supporting information "
      },
      value: {
         text: "N/A"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    }
  ]
}) }}





    <h2 class="nhsuk-heading-s">Location and date </h2> 

{% from "summary-list/macro.njk" import summaryList %}



{{ summaryList({
  rows: [
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "3 Feb 2026"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Start time"
      },
      value: {
        text: "9:30am"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
   
    {
      key: {
        text: "End date"
      },
      value: {
        text: "4 Feb 2026"
      },
      actions: {
      
      }
    },
     {
      key: {
        text: "End time"
      },
      value: {
        text: "4:30pm"
      },
      actions: {
        
      }
    }, 
    {
      key: {
        text: "Days requested"
      },
      value: {
        text: "2"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Location"
      },
      value: {
         text: "London"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    }
  
  ]
}) }}


<div class="sl-summary-title">
<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Evidence of approval</h2>
</div>

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Evidence"
      },
      value: {
         text: "This application is for a mandatory course, therefore no further approval is required. "
      },
      actions: {
       
      }
    }
  ]
}) }}



    <h2 class="nhsuk-heading-s">Incurred expenses </h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Total incurred expenses "
      },
      value: {
        text: "£999"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}


  <h2 class="nhsuk-heading-s">Estimated expenses </h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Total estimated expenses "
      },
      value: {
        text: "£406"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}



</div>
</div>





<a href="claim-add-your-expenses" class="nhsuk-button">Claim expenses</a>




 {% endblock %}