{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
 Expenses claim submitted - NHS
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
  .sl-summary-title .nhsuk-summary-list__row {border-bottom: 0px solid #d8dde0;}
  .sl-summary-title .nhsuk-summary-list { margin-bottom: 0px !important;}
</style>



{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Expenses claim submitted ",
        text: "Your expenses claim has been submitted and is awaiting review."
      }) }}
<p>We’ve sent you a confirmation email.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>

     <ul>
      <li>Your expense claim will be reviewed</li>
 <li>More information may be required from you</li>
 <li>Once approved, you’ll receive payment within 48 hours depending on who you bank with</li>
     </ul>
      <a href="dashboard-claimed" class="nhsuk-button">Return to your dashboard</a>

    </div>
  </div>
{% endblock %}