{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
 Advanced Trauma Life Support (ATLS) application - NHS 
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
  .sl-summary-title .nhsuk-summary-list__row {border-bottom: 0px solid #d8dde0;}
  .sl-summary-title .nhsuk-summary-list { margin-bottom: 0px !important;}
     th, td{font-size: 17px !important;}
     .nhsuk-table__row:hover {background-color: #ffffff !important;}



</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
   <h1 class="nhsuk-heading-l">International Masterclass in Peri-operative Leadership and Crisis Management</h1>
 

    

   
{% from "summary-list/macro.njk" import summaryList %}



<h2 class="nhsuk-heading-s">Course or event details</h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Study type "
      },
      value: {
        text: "International"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Study activity"
      },
      value: {
        text: "Course"
      },
      actions: {
        items: [
          
        ]
      }
    }, 
    {
      key: {
        text: "Course or event name "
      },
      value: {
        text: "International Masterclass in Peri-operative Leadership and Crisis Management"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Provider "
      },
      value: {
         text: "European Society of Anaesthesiology and Intensive Care (ESAIC)"
      },
      actions: {
        items: [
         
        ]
      }
    },
    {
      key: {
        text: "Supporting information "
      },
      value: {
         text: "This international course focuses on leadership, human factors, and crisis management in high-risk peri-operative environments. The training will enhance my ability to lead multidisciplinary teams, manage critical incidents, and contribute to patient safety and service improvement within anaesthetic practice. The learning outcomes align with my training requirements and ongoing professional development."
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}





    <h2 class="nhsuk-heading-s">Location and date </h2> 

{% from "summary-list/macro.njk" import summaryList %}



{{ summaryList({
  rows: [
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "7 Sep 2026"
      },
      actions: {
        items: [
          
        ]
      }
    },
    
   
    {
      key: {
        text: "End date"
      },
      value: {
        text: "11 Sep 2026"
      },
      actions: {
      
      }
    },
     {
      key: {
        text: "Time away from home"
      },
      value: {
        text: "10 hours away after 7pm"
      },
      actions: {
        
      }
    }, 
    {
      key: {
        text: "Days requested"
      },
      value: {
        text: "5"
      },
      actions: {
        items: [
         
        ]
      }
    },
    
    {
      key: {
        text: "Location"
      },
      value: {
         text: "Barcelona, Spain"
      },
      actions: {
        items: [
          
        ]
      }
    }
  
  ]
}) }}


<div class="sl-summary-title">
{{ summaryList({
  rows: [
    {
      key: {
        html: '<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Estimated expenses</h2>'
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}
</div>


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     View estimated expenses (£1405)
    </span>
  </summary>
  <div class="nhsuk-details__text">
   

<div class="expense-added" id="expenses">
{{ table({
  responsive: false,
  panel: false,
  firstCellIsHeader: false,
  head: [
    { text: "Expense" },
    { text: "Type", format: "text" },

    { text: "Cost", format: "numeric" }
    
   
   
  ],
  rows: [
    [
      { html: 'Course' },
      { text: "Course fee"},
     
      { text: "£999", format: "numeric" }
       
       ],
           [
      { html: 'Travel' },
      { text: "Train"},
     
       
        { text: "£93", format: "numeric" }
       ],
           [
      { html: 'Accommodation' },
      { text: "2 nights"},
      
 
       { text: "£313", format: "numeric" }
       ],
           [
      { html: '<b>Total</b>' },
      { text: ""},
      
        { html: '<b>£1405</b>', format: "numeric"  }
       ]
  ]
}) }}
</div>

</div></details>




<div class="sl-summary-title">
{{ summaryList({
  rows: [
    {
      key: {
        html: '<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Approval history</h2>'
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}
</div>


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
     View approval history
    </span>
  </summary>
  <div class="nhsuk-details__text">
   

<div class="expense-added" id="expenses">
{{ table({
  responsive: false,
  panel: false,
  firstCellIsHeader: false,
  head: [
    { text: "Approved by" },
    { text: "Role", format: "text" },
    { text: "Approved on", format: "text" },
    { text: "Comments", format: "text" }
  ],
  rows: [
    [
      { html: 'Dr Henry Howard' },
      { text: "Training Programme Director"},
      { text: "20/11/2025"},
      { text: "N/A"}
     ]
  ]
}) }}
</div>

</div></details>






<div class="sl-summary-title">
{{ summaryList({
  rows: [
    {
      key: {
        html: '<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Applicant information</h2>'
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}
</div>



{{ summaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Hannah"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Williams"
      },
      actions: {
        items: [
          
        ]
      }
    }, 
    {
      key: {
        text: "Hospital or trust"
      },
      value: {
        text: "Leeds Teaching Hospitals NHS Trust"
      },
      actions: {
        items: [
         
        ]
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: "Resident doctor"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
         text: "hannah.williams"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Declaration"
      },
      value: {
         text: "Accepted"
      },
      actions: {
        items: [
         
        ]
      }
    }
  ]
}) }}
    


</div>
</div>




{% from 'button/macro.njk' import button %}

<div class="nhsuk-button-group">
  {{ button({
    text: "Approve application",
    classes: "nhsuk-button",
      href: "Approve-success"  
    
  }) }}

  {{ button({
    text: "Reject application",
    classes: "nhsuk-button--secondary",
      href: "reject-application"  
  }) }}
</div>


 {% endblock %}
 