{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Study leave application summary - NHS
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Claim expenses</span>
   <h1 class="nhsuk-heading-l">Application summary for International Masterclass in Peri-operative Leadership and Crisis Management</h1>
   

   <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
      This study leave application has been approved
    </h2>
  </div>
  <div class="nhsuk-notification-banner__content">
    
    <p>You can now claim back your expenses.</p>
      <a href="claim-add-your-expenses" class="nhsuk-button">Claim expenses</a>
      
  </div>
</div>
   

    <p><a href="">Download a copy of this study leave application (PDF) </a></p>
    <h2 class="nhsuk-heading-s">Course or event details</h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Study type "
      },
      value: {
        text: "International"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Study activity"
      },
      value: {
        text: "Course"
      },
      actions: {
        items: [
          
        ]
      }
    }, 
    {
      key: {
        text: "Course or event name "
      },
      value: {
        text: "International Masterclass in Peri-operative Leadership and Crisis Management"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Provider "
      },
      value: {
         text: "European Society of Anaesthesiology and Intensive Care (ESAIC)"
      },
      actions: {
        items: [
         
        ]
      }
    },
    {
      key: {
        text: "Supporting information "
      },
      value: {
         text: "This international course focuses on leadership, human factors, and crisis management in high-risk peri-operative environments. The training will enhance my ability to lead multidisciplinary teams, manage critical incidents, and contribute to patient safety and service improvement within anaesthetic practice. The learning outcomes align with my training requirements and ongoing professional development."
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}





    <h2 class="nhsuk-heading-s">Location and date </h2> 

{% from "summary-list/macro.njk" import summaryList %}



{{ summaryList({
  rows: [
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "7 Sep 2026"
      },
      actions: {
        items: [
          
        ]
      }
    },
    
   
    {
      key: {
        text: "End date"
      },
      value: {
        text: "11 Sep 2026"
      },
      actions: {
      
      }
    },
     {
      key: {
        text: "Time away from home"
      },
      value: {
        text: "10 hours away after 7pm"
      },
      actions: {
        
      }
    }, 
    {
      key: {
        text: "Days requested"
      },
      value: {
        text: "5"
      },
      actions: {
        items: [
         
        ]
      }
    },
    
    {
      key: {
        text: "Location"
      },
      value: {
         text: "Barcelona, Spain"
      },
      actions: {
        items: [
          
        ]
      }
    }
  
  ]
}) }}


<div class="sl-summary-title">
<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Evidence of approval</h2>
</div>

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Evidence"
      },
      value: {
         text: "This application is for a mandatory course, therefore no further approval is required. "
      },
      actions: {
       
      }
    }
  ]
}) }}



    <h2 class="nhsuk-heading-s">Incurred expenses </h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Total incurred expenses "
      },
      value: {
        text: "£999"
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}


  <h2 class="nhsuk-heading-s">Estimated expenses </h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Total estimated expenses "
      },
      value: {
        text: "£406"
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}

<h2 class="nhsuk-heading-s">Subsistence allowance</h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Daily allowance "
      },
      value: {
        text: "£10"
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}

</div>
</div>





<a href="claim-add-your-expenses" class="nhsuk-button">Claim expenses</a>




 {% endblock %}