{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Future Study leave service - NHS England
{% endblock %}

{% block content %}
<style>
  select {border-radius: 0 !important;}
  .sl-back .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select, 
  .nhsuk-input {
    min-width: 450px !important;
    max-width: 450px !important;
  }
  .apply-sl .inputmaxwidth {
    min-width: 450px !important;
    max-width: 450px !important;
  }

  /* Hide button by default */
  #add-expense-btn {
    display: none;
    margin-top: 20px;
  }
</style>

<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
       <span class="nhsuk-caption-l">Reject application</span>
    <h1 class="nhsuk-heading-l">Reason for rejection</h1>

   <div class="inputmaxwidth">
    {{ textarea({
      name: "supportingInfo",
      id: "supportingInfo",
      label: {
        text: "Enter the reason for rejecting the application",
        classes: "nhsuk-label--s"
      },
      hint: {
        text: "For example, add some example text"
      }
    }) }}

</div>

  </div>
</div>


{% from 'button/macro.njk' import button %}

<div class="nhsuk-button-group">
  {{ button({
    text: "Submit",
    classes: "nhsuk-button",
    href: "dashboard"  
  }) }}

  {{ button({
    text: "Cancel",
    classes: "nhsuk-button--secondary",
      href: "summary"  
  }) }}
</div>


{% endblock %}
