{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Future Study leave service - NHS England
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
  .sl-summary-title .nhsuk-summary-list__row {border-bottom: 0px solid #d8dde0;}
  .sl-summary-title .nhsuk-summary-list { margin-bottom: 0px !important;}
</style>



{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Expense claim rejected",
        text: "Your message has been sent to the applicant"
      }) }}
<p>We’ve sent a confirmation email to you and the applicant.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>

     <ul>
      
      <li>The applicant may appeal for this (write some text here)</li>

 
     </ul>

     
     
 


      <a href="dashboard-ready-to-claim" class="nhsuk-button">Return to your dashboard</a>

    </div>
  </div>
{% endblock %}