{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
 Study leave application summary - NHS
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Claim expenses</span>
   <h1 class="nhsuk-heading-l">Study leave application summary for Advanced Clinical Leadership Skills Workshop</h1>
   

   <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
  <div class="nhsuk-notification-banner__header">
    <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
    Study leave expenses claimed
    </h2>
  </div>
  <div class="nhsuk-notification-banner__content">
   
    <p>If you incurred any additional expenses, you can claim them now.</p>
      <a href="claim-add-your-additional-expenses" class="nhsuk-button">Claim additional expenses</a>
      
  </div>
</div>
   

    <p><a href="">Download a copy of this study leave application (PDF) </a></p>
    
{% from "summary-list/macro.njk" import summaryList %}

<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Course or event details </h2>


{{ summaryList({
  rows: [
    
   
    {
      key: {
        text: "Study type"
      },
      value: {
         text: "Discretionary"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Study activity"
      },
      value: {
         text: "Course"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Course or event name "
      },
      value: {
         text: "Advanced Clinical Leadership Skills Workshop"
      },
      actions: {
        items: [
          
        ]
      }
    },
    {
      key: {
        text: "Provider "
      },
      value: {
         text: "University of Birmingham"
      },
      actions: {
        items: [
         
        ]
      }
    },
    {
      key: {
        text: "Supporting information"
      },
      value: {
         text: "This course will support my development in leadership and service improvement. The skills gained will help me contribute more effectively to team coordination, quality improvement initiatives, and patient care outcomes within my department."
      },
      actions: {
        items: [
         
        ]
      }
    }
    
  ]
}) }}

{% from "summary-list/macro.njk" import summaryList %}

<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Location and date</h2>


{{ summaryList({
  rows: [
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "12 May 2026"
      },
      actions: {
        items: [
          
        ]
      }
    },
   
   
    {
      key: {
        text: "End date"
      },
      value: {
        text: "14 May 2026"
      },
      actions: {
      
      }
    },
     {
      key: {
        text: "Time away from home"
      },
      value: {
        text: "10 hours away after 7pm"
      },
      actions: {
       
      }
    }, 
    {
      key: {
        text: "Days requested"
      },
      value: {
        text: "3"
      },
      actions: {
        items: [
         
        ]
      }
    },
    
    {
      key: {
        text: "Location"
      },
      value: {
         text: "Birmingham"
      },
      actions: {
        items: [
          
        ]
      }
    }
  
  ]
}) }}



<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Incurred expenses</h2>


{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Total incurred expenses"
      },
      value: {
         text: "£999"
      },
      actions: {
        items: [
         
        ]
      }
    }
  ]
}) }}


<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Estimated expenses</h2>



{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Total estimated expenses"
      },
      value: {
         text: "£406"
      },
      actions: {
        items: [
          
        ]
      }
    }
  ]
}) }}

<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Subsistence allowance</h2>

{{ summaryList({
  rows: [
    
    {
      
      key: {
        text: "Daily allowance"
      },
      value: {
         text: "£10 "
      },
      actions: {
       
      }
    }
     

    
  ]
}) }}

{% from "summary-list/macro.njk" import summaryList %}

<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Approver details</h2>


{{ summaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "John"
      },
      actions: {
        items: [
          
        ]
      }
    },
   
   
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Smith"
      },
      actions: {
      
      }
    },
     {
      key: {
        text: "Job role"
      },
      value: {
        text: "Training Programme Director"
      },
      actions: {
       
   
      }
    }
  
  ]
}) }}

<h2 style="text-wrap-mode: nowrap;" class="nhsuk-heading-s">Bank details</h2>

{{ summaryList({
  rows: [
    
    {
      key: {
        text: "Name on the account"
      },
      value: {
         text: "Hannah Williams"
      },
      actions: {
       
      }
    },{
      key: {
        text: "Bank name"
      },
      value: {
         text: "HSBC UK "
      },
      actions: {
       
      }
    },
     {
      key: {
        text: "Sort code"
      },
      value: {
         text: "123456 "
      },
      actions: {
       
      }
    },
    {
      key: {
        text: "Account number"
      },
      value: {
         text: "12345678"
      },
      actions: {
       
      }
    }
  ]
}) }}



</div>
</div>





<a href="claim-add-your-additional-expenses" class="nhsuk-button">Claim additional expenses</a>




 {% endblock %}