{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'task-list/macro.njk' import taskList %}

{% block pageTitle %}
  Future Study leave service - NHS England
{% endblock %}

{% block content %}
<style>
    select {border-radius: 0 !important;}
  .sl-back  .nhsuk-back-link {
    padding-top: 0px;
    margin-bottom: 20px;margin-top: 0px !important;
  }
  .apply-sl .nhsuk-select{min-width: 350px !important;max-width: 350px !important;}
  .apply-sl .inputmaxwidth{min-width: 350px !important;max-width: 350px !important;}
</style>
<div class="sl-back">
  {% from 'back-link/macro.njk' import backLink %}
  {{ backLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
</div>

<div class="nhsuk-grid-row apply-sl">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l">Claim expenses</span>
   <h1 class="nhsuk-heading-l">Study leave application approved</h1>
    <p><a href="">Download this study leave details (PDF)</a></p>
    <h2 class="nhsuk-heading-s">Application details</h2> 

{% from "summary-list/macro.njk" import summaryList %}


{{ summaryList({
  rows: [
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "15 March 2025"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        text: "17 March 2025"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Days requested"
      },
      value: {
        text: "2"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Type of study leave"
      },
      value: {
         text: "Discretionary"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Study activity"
      },
      value: {
         text: "Study"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Course name"
      },
      value: {
         text: "Event or course name 1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider details"
      },
      value: {
         text: "Provider 1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Supporting information"
      },
      value: {
         text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Course location"
      },
      value: {
         text: "Leeds"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Total estimated expenses"
      },
      value: {
         text: "£460"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "£460"
          }
        ]
      }
    }
  ]
}) }}






 <h2 class="nhsuk-heading-s">Approver details</h2>

{{ summaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Example first name"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Example last name"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Role"
      },
      value: {
        text: "Training programme director"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
         text: "example@example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    },
    {
      key: {
        text: "Comments added by approver"
      },
      value: {
         text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt "
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: ""
          }
        ]
      }
    }
  ]
}) }}



</div>
</div>





<a href="claim-add-your-expenses" class="nhsuk-button">Claim expenses</a>




 {% endblock %}